.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000000;
  }
  
  .modalContainer {
    max-width: 500px;
    width: 100%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
  } 
  .modalRight {
    width: 100%;
  }
  
  .closeBtn {
    position: fixed;
    top: 8px;
    right: 15px;
    cursor: pointer; 
  }
  
  .content {  
    text-align: center;
    margin-top: 3rem;
    padding: 1rem 2rem;
    p {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
    }
    input {
        margin: 10px 0px;
        box-sizing: border-box;  
        width: 336px;
        height: 31px; 
        border: 1px solid #999999; 
    } 
  }
  
  .btnContainer { 
    padding: 1rem 1rem;
  } 
  .btnContainer button {
    width: 40%;
    margin: .5rem;
    padding: 16px 0; 
    border: 1px solid #411b57; 
    cursor: pointer;
 
  }
  
  .btnPrimary {
    background-color: #411b57;
    color: white;
  }
 
  
  @media screen and (max-width: 500px) {
    .modalContainer {
      flex-direction: column;
      top: 0;
      left: 0;
      transform: none;
      width: 100%;
      height: 100vh;
    } 
    .heading {
      margin: 1rem;
    }
  }