.container {
    position: relative;
    width: 1169px;
    height: 758px; 
    background: #FFFFFF;
}

.header {
    position: absolute;
    width: 507px;
    height: 34px;
    left: 100px;
    top: 90px; 
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px; 
    color: #666666;
    b{
        font-weight: 600;
       color: #000000;
    }
}

.status {
    position: absolute;
    width: 88px;
    height: 22px;
    left: 730px;
    top: 102px;
    cursor: pointer;
    p { 
        width: 88px;
        height: 22px; 
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 90px; 
        color: #0C77BB;  
        border-bottom: 2px dashed #0C77BB;
        padding-bottom: 30px
        
    }
}
.status-tooltip {
    position: absolute;
    width: 503px;
    height: 53px;
    left: 324px;
    top: 128px; 
    margin-top: 60px;

    p { 
        position: absolute;
        width: 347px;
        height: 26px; 
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px; 
        color: #000000;
    }

    .rechtangle { 
        width: 503px;
        height: 46px;
        left: 324px;
        top: 135px; 
        background: #E2E2E2;
    }

    .rechtangle2 { 
        width: 11px;
        height: 11px; 
        background: #E2E2E2;
        transform: rotate(45deg);
        margin-left: -450px;
        margin-top: -50px;
    }
}

.city {
    position: absolute;
    width: 559px;
    height: 31px; 
    top: 20px;

    h4 {
        position: absolute;
        width: 103px;
        height: 19px;
        left: 100px;
        top: 219px; 
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 19px; 
        color: #000000;
    }

    input {
        box-sizing: border-box; 
        position: absolute;
        width: 336px;
        height: 31px;
        left: 324px;
        top: 241px; 
        border: 1px solid #999999;
        text-align: left;
    } 
    hr {
        position: absolute;
        width: 990px;
        height: 0px;
        left: 90px;
        top: 290px; 
        border: 1px solid #E5E4E4;
    }
}
.password {
    position: absolute;
    width: 916px;
    height: 31px;
    left: 100px;
    top: 308px;
    
    h4 {
        position: absolute;
        width: 73px;
        height: 19px; 
        top: 22px; 
        left: 0px;
        font-family: 'Arial'; 
        font-weight: 400;
        font-size: 21px;
        line-height: 19px; 
        color: #000000;
    }
    p {
        position: absolute;
        width: 339px;
        height: 20px;
        left: 575px;
        top: 38px; 
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px; 
        color: #999999;
    }
    input {
        box-sizing: border-box; 
        position: absolute;
        width: 336px;
        height: 31px;
        left: 224px;
        top: 45px; 
        border: 1px solid #999999;
    }
}
.password-again {
    position: absolute;
    width: 916px;
    height: 31px;
    left: 100px;
    top: 308px;
    
    h4 {
        position: absolute;
        width: 168px;
        height: 19px;
        left: -3px;
        top: 100px; 
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 19px; 
        color: #000000;
    }
    p {
        position: absolute;
        width: 339px;
        height: 20px;
        left: 575px;
        top: 103px; 
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px; 
        color: #999999;
        text-align: left;
    }
    input {
        box-sizing: border-box; 
        position: absolute;
        width: 336px;
        height: 31px;
        left: 224px;
        top: 120px; 
        border: 1px solid #999999;
    } 
    hr {
        position: absolute;
        width: 990px;
        height: 0px;
        left: -10px;
        top: 190px; 
        border: 1px solid #E5E4E4;
    } 
}

.email { 
    position: absolute;
    width: 932px;
    height: 31px;
    left: 100px;
    top: 489px;

    h4 {
        position: absolute;
        width: 188px;
        height: 19px;
        left: 0px;
        top: 25px; 
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 19px; 
        color: #000000;
    }
    input {
        box-sizing: border-box; 
        position: absolute;
        width: 336px;
        height: 31px;
        left: 224px;
        top: 45px; 
        border: 1px solid #999999;
    } 
    p {
        position: absolute;
        width: 339px;
        height: 20px;
        left: 575px;
        top: 40px; 
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px; 
        color: #999999;
        text-align: left;
    }
}

.agree {
    position: absolute;
    width: 594px;
    height: 19px;
    left: 100px;
    top: 560px;

    h4 {
        position: absolute;
        width: 188px;
        height: 19px;
        left: -40px;
        top: 25px; 
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 19px; 
        color: #000000;
    }
    p {
        position: absolute;
        width: 348px;
        height: 19px;
        left: 245px;
        top: 37px; 
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px; 
        color: #000000;
    }
    input {
        position: absolute;
        width: 12px;
        height: 12px;
        left: 220px;
        top: 54px;
        text-align: left;
    }
}

.redact {
    position: absolute;
    width: 119px;
    height: 40px;
    left: 324px;
    top: 680px; 
    background: #71C838;
    box-shadow: 0px 1px 0px #539D22;
    cursor: pointer;
     
    p {
        position: absolute;
        width: 84.12px;
        height: 20px;
        left: calc(50% - -317.12px/2 - 201px);
        top: -9px; 
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px; 
        color: #FFFFFF; 
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    }
}

